<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="BROWSERSTACK_USERNAME=YOUR_USERNAME"/>
        <listEntry value="BROWSERSTACK_ACCESS_KEY=YOUR_ACCESS_KEY"/>
        <listEntry value="archetypeGroupId=com.browserstack"/>
        <listEntry value="archetypeArtifactId=cucumber-testng-archetype-integrate"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=OrangeHRM"/>
        <listEntry value="artifactId=OrangeHRMCuckumber"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=OrangeHRM.OrangeHRMCuckumber"/>
        <listEntry value="outputDirectory=C:\Users\makke\OneDrive\Desktop\krishnaveni"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\makke\AppData\Local\Temp\m2e-archetypeGenerator3868022698167401373"/>
</launchConfiguration>
